<article class="page_article">
    
        <div class="container container-article1">
            <h4>Insomnia Tips</h4>

        </div>

        <div class="container container-article2">
            <h2>Looking through a window</h2>
            
        </div>

        <div class="container container-article3">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum dolore quod expedita dicta, Cum dolore quod expedita autem aliquam eaqu.</p>
            
        </div>

        <div class="container container-article4">

        <button type="button" class="button button-go">
            <a href="#" title="go">Go</a>

        </button>
    </div>
           

    
</article>