<footer class="page_footer">
    
        <button type="button" class="button button-up">
            <a href="#top" title="go back to the top" aria-label="go back to the top"><img src="./assets/images/ico-arrow.svg"></a>
        </button>
        <div class="container footer-container">
            <nav class="menu-pages">
        <ul class="list1">
            <li><a href="https://adalab.es/" arial-label="Go to articles" title="Go to articles">articles</a></li>
            <li><a href="https://adalab.es/" arial-label="Go to books" title="Go to books">books</a></li>
            <li><a href="https://adalab.es/" arial-label="Go to events" title="Go to events">events</a></li>
            <li><a href="https://adalab.es/" arial-label="Go to reasons" title="Go to reasons">reasons</a></li>
            <li><a href="https://adalab.es/" arial-label="Go to tips" title="Go to tips">tips</a></li>
        </ul>
    </nav>
        <nav class="menu-social">
        <ul class="list2">
            <li><a href="https://adalab.es/" arial-label="Go to twitter" title="Go to twitter">twitter</a></li>
                <li><a href="https://adalab.es/" arial-label="Go to twitter" title="Go to twitter">instagram</a></li>
            <li><a href="https://adalab.es/" arial-label="Go to mastodon.socials" title="Go to mastodon.socials">mastodon.social</a></li>

        </ul>
    </nav>
    <section class="footer-footer">
        <p>&copy;2017</p>
        <p>we <span class="heart">&hearts;</span> components</p>
    </section>
    </div>


</footer>