<main class="page_main">
    
        
        <div class="container main-title" id="main">
            <h2>3 reasons to purcharse</h2>
        </div>
    

        <div class="container main-container">

        <div class="main-article article1">
            <h3>Ut sed metus</h3>
            <p>Lorem ipsum dolor sit amet, consectetur  </p>

        </div>

        <div class="main-article article2">
            <h3>Ut sed metus</h3>
            <p>Lorem ipsum dolor sit amet, consectetur  </p>

        </div>

        <div class="main-article article3">
            <h3>Ut sed metus</h3>
            <p>Lorem ipsum dolor sit amet, consectetur  </p>
            </div>

        </div>

    

        
        <div class="container">
        <button type="button" class="button button-more">
            <a href="#" arial-label="Go to more reasons">More reasons</a>
        </button>
        </div>
    
    
        
</main>
